<div class="mobile-bottom-nav">
        <a href="/" class="nav-item active">🏠<br>Beranda</a>
        <a href="/search" class="nav-item">🔍<br>Cari</a>
        <a href="#" class="nav-item">⭐<br>VIP</a>
        <a href="#" class="nav-item">👤<br>Profil</a>
    </div>

</body>
</html>
